GitSwiftCalculator.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
GitSwiftCalculator.xcodeproj/project.xcworkspace/xcuserdata/hojamil.xcuserdatad/WorkspaceSettings.xcsettings
